nav {
  background: rgb(46, 43, 43); 
}

div.parent {
  display: grid; 
  grid-template-columns: 20% 80%;
  min-height: 100vh; 
  grid-gap: 9px;
}
div.child {
  background: #1d1c1c; 
}.box {
  width: 70px;
  height: 40px;
  background: #bfe5f5;
  padding: 8px;
  margin: 9px;
}
p{
  background: #bfe5f5;
}
.paragraph_2{
  background:#bfe5f5;
}
#paragraph_3{
  background:#bfe5f5;
}
p:nth-child(2) strong{
  background: purple;
}
a{
  background:none;
}
a{
  text-decoration: none;
}
nav li {
list-style-type: none;
}
nav ul {
padding: 0;
}
.block-div {
  background:#bfe5f5;
  display: block;
  border-width:2px ;
  border-color:rgb(67, 119, 89) ;
  border-style:solid ;
  padding: 1rem;
  margin: 2rem;
}
li a {
  color: rgb(178, 223, 239);
}
.inline-div {
  display: inline;
  background-color:purple;
  color:violet;
}
#spacing-lesson {
  width:179px;
  height:15px;
  margin:25px;
  padding:10px;
}