nav {
  background: rgb(46, 43, 43); 
}

div.parent {
  display: grid; 
  grid-template-columns: 15% 85%;
  min-height: 100vh; 
  grid-gap: 9px;
}
div.child {
  background: #1d1c1c; 
}.box {
  width: 70px;
  height: 40px;
  background: #bfe5f5;
  padding: 8px;
  margin: 9px;
}
p{
  background: #bfe5f5;
}
.paragraph_2{
  background:#bfe5f5;
}
#paragraph_3{
  background:#bfe5f5;
}
p:nth-child(2) strong{
  background: purple;
}
a{
  background:#bfe5f5;
}